@if (_visible)
{
    <MudAlert Severity="Severity.Info" Class="mb-3" Dense="true" ShowCloseIcon="true"
              CloseIconClicked="() => _visible = false">
        @ChildContent
    </MudAlert>
}
else
{
    <div class="mb-2">
        <MudButton Variant="Variant.Text" Color="Color.Info" Size="Size.Small"
                   StartIcon="@Icons.Material.Outlined.HelpOutline"
                   OnClick="() => _visible = true">Help</MudButton>
    </div>
}

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
    private bool _visible;
}
